*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.menu-bar{
    background: rgb(0, 32, 100);
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 120px;
    margin: 13px;
    padding: 13px;

}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover{
    background-color: red;
    border-radius: 5px;
}
.menu-bar .fa{
    margin-right: 8px;
    color: #fff;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background:rgb(0, 32, 100);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px  dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;

}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: red;

}
.p1{
    position: center;
    top: 120%;
    font-size: 48px;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    border-style: solid;
    border-color: aquamarine;
    background-color: rgb(49, 89, 177);
    text-align: center;
}
.img1{
    background-size:cover; 
    background-attachment:fixed; 
    opacity: 0.3;

}
.btn #btn1{
    position: absolute;
    top: 60%;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    left: 10%;
    text-decoration: none;
    padding: 5px;
    margin: 5px;

}
.btn #btn1 a{
    text-decoration: none;
    color: black;   
}
.btn #btn1 a:hover{
    color: red;
}
.btn #btn2{
    position: absolute;
    top: 60%;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}
.btn #btn2 a{
    text-decoration: none;
    color: black;   
}
.btn #btn2 a:hover{
    color: red;
}
.btn #btn3{
    position: absolute;
    top: 60%;
    left: 19.1%;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}
.btn #btn3 a{
    text-decoration: none;
    color: black;   
}
.btn #btn3 a:hover{
    color: red;
}
.btn #btn4{
    position: absolute;
    top: 68%;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}
.btn #btn4 a{
    text-decoration: none;
    color: black  
}
.btn #btn4 a:hover{
    color: red;
}
.p2{
    position: absolute;
    top: 45%;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    color: blue;
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
}
.box-container .box{
    flex:1rem;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.3);
    cursor: pointer;
    border-radius: .5rem;
  }
.box-container .box h3{
    font-size: 1rem;
    color:#333;
    text-align: center;
}
.box-container .box  a{
    text-decoration: none;
}
.box-container .box .images{
    width: 100%;
    height: 100%;
}
.box-container .box:hover .images{
   color: grey;
}
.h4{
    position: absolute;
    top: 175%;
    left: 30%;
    align-items: center;
    font-size: 40px;
    color: blue;
}
.lis{
    position: absolute;
    top: 183%;
    left: 2%;
    font-size: 20px;
}
.lis2{
    position: absolute;
    top: 183%;
    left: 50%;
    font-size: 20px;
}
.hidden {
    display: none;
  }
  .pp{
    font-size: 2rem;
    padding: 20px;
    margin: 10px;
  }
  
.order .row{
    padding:2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:#fff;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    border-radius: .5rem;
  }
  
  .order .row .image{
    flex:1 1 30rem;
  }
  
  .order .row .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
  }
  
  .order .row form{
    flex:1 1 50rem;
    padding:1rem;
  }
  
  .order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .order .row form .inputBox input, .order .row form textarea{
    padding:1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.3);
    border-radius: .5rem;
    width:49%;
  }
  
  .order .row form textarea{
    width:100%;
    resize: none;
    height:15rem;
  }
  
  .order .row form .btn6{
    background:none;
    size: 20px;
  }
  
  .order .row form .btn6:hover{
    background:var(--red);
  }
  
  .footer-gray {
    background-color: #EFEFEF;
    width: 100%;
    top: 210%;
    position: absolute;
  }
  
  .footer-custom {
    color: #888;
    font: normal normal 12px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    max-width: 1008px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 24px;
  }
  
  .footer-custom:after {
    display: table;
    clear: both;
    content: "";
  }
  
  .footer-lists:after {
    display: table;
    clear: both;
    content: "";
  }
  
  .ftr-hdr {
    color: #000;
    font: 22px/1.4 'BebasNeueRegular', BebasNeue, 'Bebas Neue', Arial, sans-serif;
    margin: 1em 0 0;
  }
  
  @media only screen and (min-width: 768px) {
    .ftr-hdr {
      font-size: 18px;
    }
  }
  
  .footer-list-wrap {
    width: 50%;
    float: left;
    box-sizing: border-box;
  }
  
  @media only screen and (min-width: 568px) {
    .footer-list-wrap {
      width: 33.3333%;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .footer-list-wrap {
      width: 25%;
    }
  }
  
  .ftr-links-sub {
    padding: 0;
    margin: 0;
  }
  
  .ftr-links-sub:after {
    display: table;
    clear: both;
    content: "";
  }
  
  .ftr-links-sub li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 3px 0;
    color: #888;
    font: normal normal 12px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
    /*width: 150px;*/
  }
  
  .footer-custom a,
  .footer-custom a:link,
  .footer-custom a:visited,
  .ftr-links-sub li .link {
    text-decoration: none;
    color: #888;
    padding: 5px 0;
    display: block;
  }
  
  .footer-custom .footer-legal a {
    display: inline;
  }
  
  .footer-custom a:hover,
  .footer-custom a:active,
  .ftr-links-sub li .link:hover {
    text-decoration: underline;
    color: #888;
    cursor: pointer;
  }
  
  @media only screen and (min-width: 768px) {
    .footer-custom a, .footer-custom a:link, .footer-custom a:visited, .ftr-links-sub li .link {
      padding: 0;
    }
  }
  /* BEGIN EMAIL CAPTURE STYLES*/
  
  .footer-email {
    text-align: center;
  }
  
  #ftrEmailForm {
    height: 44px;
  }
  
  #ftrEmailForm .error {
    display: none;
    color: red;
    text-align: left;
  }
  
  #ftrEmailForm #ftrEmailInput {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    color: #888;
    float: left;
    font: normal normal 14px/1.4 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding: 5px;
    width: 70%;
    height: 100%;
  }
  
  #ftrEmailForm #ftrEmailInput:hover {
    border: 1px solid #888;
  }
  
  #ftrEmailForm #ftrEmailInput:focus {
    border: 1px solid #ef9223;
    outline: #ef9223 auto 5px;
  }
  
  #ftrEmailForm .button {
    width: 30%;
    height: 100%;
    padding: 5px;
    float: left;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    color: #000;
    font: normal bold 18px/1 BebasFamily, BebasNeueRegular, "Bebas Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: #FFF;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e1e1e1));
    background: -webkit-linear-gradient(top, white 0, #e1e1e1 100%);
    background: -moz-linear-gradient(top, white 0, #e1e1e1 100%);
    background: -ms-linear-gradient(top, white 0, #e1e1e1 100%);
    background: -o-linear-gradient(top, white 0, #e1e1e1 100%);
    background: linear-gradient(to bottom, white 0, #e1e1e1 100%);
    cursor: pointer;
    vertical-align: middle;
    outline: none;
  }
  
  #ftrEmailForm .button:hover,
  #ftrEmailForm .button:active {
    background: black;
    color: #FFF;
    outline: none;
  }
  /* BEGIN SOCIAL STYLES*/
  
  .footer-social {
    text-align: center;
  }
  
  .footer-social ul {
    padding: 0;
    display: inline-block;
    list-style-type: none;
  }
  
  .footer-social ul:after {
    display: table;
    clear: both;
    content: "";
  }
  
  .footer-social li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
  }
  
  @media only screen and (min-width: 768px) {
    .footer-lists {
      width: 100%;
    }
    .footer-email {
      width: 50%;
      float: left;
      text-align: left;
    }
    .footer-social {
      width: 45%;
      margin-left: 5%;
      float: left;
      text-align: left;
    }
  }
  
  @media only screen and (min-width: 1008px) {
    .footer-lists {
      width: 66.6666%;
      float: left;
    }
    .footer-email {
      width: 33.3333%;
    }
    .footer-social {
      width: 33.3333%;
      float: right;
      margin-left: 0;
    }
  }
  
  .footer-legal {
    padding: 15px 0 0;
    clear: left;
  }
  
  .footer-payment {
    text-align: center;
  }
  
  @media only screen and (min-width: 768px) {
    .footer-legal {
      width: 66.6666%;
      float: left;
    }
    .footer-payment {
      width: 33.3333%;
      float: left;
    }
  }
  
  @media only screen and (min-width: 1008px) {
    .footer-payment {
      text-align: left;
    }
  }
  
  .footer-payment ul {
    padding: 0;
    display: inline-block;
    list-style-type: none;
  }
  
  .footer-payment ul li {
    display: inline-block;
    margin: 0 6px;
  }
  
  @media only screen and (min-width: 1008px) {
    .footer-payment ul li.ftr-stella {
      margin-left: 0;
    }
  }
  
  .ftr-bbb span,
  .ftr-stella span {
    background-image: url("http://cache1.artprintimages.com/images/jump_pages/rebrand2/images/subnav2.png");
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0;
  }
  
  .ftr-bbb span {
    background-position: -339px -8px;
    width: 96px;
  }
  
  .ftr-stella span {
    background-position: -339px -107px;
    width: 57px;
  }
  @media(max-width:991px){

    html{
      font-size: 55%;
    }
  
    header{
      padding:2rem;
    }
  
    section{
      padding:2rem;
    }
  
  }
  
  @media(max-width:768px){
  
    #menu-bar{
      display: initial;
    }
  
    header .navbar{
      position: absolute;
      top:100%; left: 0; right:0;
      background: #f7f7f7;
      border-top: .1rem solid rgba(0,0,0,.1);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  
    header .navbar a{
      margin: 1.5rem;
      padding:1.5rem;
      display: block;
      border:.2rem solid rgba(0,0,0,.1);
      border-left:.5rem solid var(--red);
      background:#fff;
    }
  
  }
  
  @media(max-width:450px){
  
    html{
      font-size: 50%;
    }
  
    .order .row form .inputBox input{
      width:100%;
    }
  
  }

































































